fastapi
uvicorn[standard]
gunicorn
python-multipart
pydantic-settings
psycopg2-binary==2.9.9

# Database
sqlalchemy

# image processing
opencv-python-headless
Pillow
numpy


# machine learning

ultralytics

paddlepaddle
paddleocr



nepali-datetime
requests


streamlit
pandas

